<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-sm-9">
    <div class="title">
      <h2><i class="fas fa-comments icon-color-blue"></i>返信一覧</h2>
    </div>
    <% if @schedules.length != 0 %>
      <%= paginate @schedules %>
      <% @schedules.each do |schedule| %>
        <%= render 'shared/schedule_post', schedule: schedule, cuurent_employee: current_employee %>
      <% end %>
      <%= paginate @schedules %>
    <% else %>
      <div class="row">
        <div class="col-12">
          <h4>未読返信は現在ありません。</h4>
        </div>
      </div>
    <% end %>
  </div>
</div>