<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-sm-9">
    <div class="title">
      <h2><i class="far fa-calendar-alt icon-color-blue"></i>スケジュール一覧</h2>
    </div>
    <%= paginate @schedules %>
    <% @schedules.each do |schedule| %>
      <%= render 'shared/schedule_post', schedule: schedule, cuurent_employee: current_employee %>
    <% end %>
    <%= paginate @schedules %>
  </div>
</div>