<% if @schedules.length == 0 %>
  <div class="title">
    <h2><i class="fas fa-question icon-color-blue"></i>検索結果: 0件</h2>
  </div>
<% else %>
  <div class="title">
    <h2><i class="fas fa-question icon-color-blue"></i>検索結果: <%= @schedules.total_count %>件</h2>
  </div>
  <%= paginate @schedules %>
  <% @schedules.each do |schedule| %>
    <%= render 'shared/schedule_post', schedule: schedule, cuurent_employee: current_employee %>
  <% end %>
  <%= paginate @schedules %>
<% end %>