/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body  {
   background-color: #ecf6ff;
 }

 .home-img {
   height: 600px;
   margin-bottom: 20px;
   background-color: aquamarine;
 }

 .back-color-sub {
   background-color: #00B0FF;
 }

 body, input, textarea, button, select {
  font-family: Montserrat, 游ゴシック, YuGothic, Meiryo;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.title {
  margin: 30px 0;
}

.icon-color-blue {
  color: #00B0FF;
}

.icon-color-red {
  color:red;
}

.icon-color-orange {
  color: orange
}

.btn-blue {
  display: inline-block;
  text-align: left;
  border: 2px solid #00B0FF;
  background-color: #00B0FF;
  font-size: 16px;
  color: #00B0FF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  color: #FFF;
}

.btn-blue:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.field_with_errors {
  display: contents;
}

.error-label {
  color: red;
  margin: 0.3em 0 0 10px;
  font-size: 0.8em;
}

.sidebar {
  background-color: rgba($color: #00B0FF, $alpha: 0.3);
  border-radius: 12px;
  margin-top: 10px;
}

.schedule-block {
  border-bottom: 1px solid #00B0FF;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.schedule-block:hover {
  filter:alpha(opacity=70);/* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
  -moz-opacity:0.7;/* FF , Netscape */
  -khtml-opacity: 0.7;/* Safari 1.x */
  opacity:0.7;
  zoom:1;/*IE*/
}

.schedule-block .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.link-z {
  z-index: 3;
  position: relative;
}



.comment-block {
  border-bottom: 1px solid #00B0FF;
  margin-bottom: 10px;
}

.schedule-image {
  border-radius: 20px;
  margin: 10px 0px;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.schedule-image:hover {
  border: 2px solid #00B0FF;
}

.schdule-text {
  margin: 0;
}

.text-center {
  text-align: center;
}

.icon-size-15 {
  font-size: 1.5rem;
}

.schedule-question-block {
  border: 2px solid #00B0FF;
  background-color: rgba($color: #00B0FF, $alpha: 0.5);
}

.text-blue {
  color: #00B0FF;
}

.mypage-profile {
  border-bottom: 1px solid #00B0FF ;
}

.favorite:hover {
  color: red;
  text-decoration: none;
}

.group-employee-image {
  border-radius: 20px;
  object-fit: cover;
}

.pagination>li>a {
  border: none;
  color: #696969;
  background-color: #ecf6ff;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #00B0FF;
  border-color: #00B0FF;
}

.pagination>li>a:hover {
  background-color: #cee7fd;
}

@media screen and (max-width: 480px) {
  .schedule-image {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 370px) {
  .schedule-image {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 300px) {
  .schedule-image {
    width: 30px;
    height: 30px;
  }
}