/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body  {
   background-color: #ecf6ff;
 }

 .back-color-sub {
   background-color: #00B0FF;
 }

 body, input, textarea, button, select {
  font-family: Montserrat, 游ゴシック, YuGothic, Meiryo;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.title {
  margin: 30px 0;
}

.icon-color-blue {
  color: #00B0FF;
}

.btn-blue {
  display: inline-block;
  text-align: left;
  border: 2px solid #00B0FF;
  background-color: #00B0FF;
  font-size: 16px;
  color: #00B0FF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  color: #FFF;
}

.btn-blue:hover {
  opacity: 0.8;
}

.field_with_errors {
  display: contents;
}

.error-label {
  color: red;
  margin: 0.3em 0 0 10px;
  font-size: 0.8em;
}

.sidebar {
  background-color: #99dfffbd;
  border-radius: 12px;
  margin-top: 10px;
}